<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 
        Page pour les erreurs "métiers"
        Disparaîtra à terme car celles-ci seront affichées par les formulaires eux-mêmes.
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout :: common-head">
        <title>Yet another Pet Store</title>
    </th:block>
</head>

<body>
    <header th:replace="layout :: header-and-nav">
        <h1>YAPS</h1>
    </header>
    <div class="container">
        <div class="block">
            <div class="notification is-danger is-light">
                [[#{customer.error.missingNames}]]
            </div>
        </div>
    </div>
    <th:block th:replace="layout :: footer-and-js">
    </th:block>
</body>

</html>