<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!-- 
    Template donnant la structure d'une de nos pages.

    Pour cette application, nous avons choisi une approche un peu lourde mais simple :
    les "vraies" pages vont explicitement inclure des fragments choisis de celle-ci.

    C'est un peu répétitif, mais les notations sont simples. Dans de nombreux exemples du cours,
    nous avons préféré utiliser l'approche inverse : les "vraies" pages spécifient quelles parties du layout elles
    remplacent. C'est conceptuellement plus satisfaisant, mais la syntaxe est assez illisible.
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:fragment="common-head">
        <title>[[#{title}]]</title>
        <link rel="stylesheet" th:href="@{/webjars/bulma/css/bulma.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
</head>

<body>
    <th:block th:fragment="header-and-nav">
        <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" th:href="@{/}"><img id="banner_logo" th:src="@{/img/banner_logo.gif}" /></a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navMenu" sec:authorize="isAuthenticated()">
                    <div class="navbar-start" >

                    </div>
                    <!-- navbar start, navbar end -->
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" aria-haspopup="true" aria-controls="#dropdown-menu">
                                [[#{menu.customer.dropdown}]]
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" sec:authorize-url="/office/customer/list"
                                    th:href="@{/office/customer/list}">
                                    [[#{menu.customer.list}]]
                                </a>
                                <a class="navbar-item" sec:authorize-url="/office/customer/search"
                                    th:href="@{/office/customer/search}">
                                    [[#{menu.customer.view}]]
                                </a>
                               <!--  <a class="navbar-item" sec:authorize-url="/customer/updateself"
                                    th:href="@{/customer/updateself}">
                                    [[#{menu.customer.updateself}]]
                                </a>
                                <a class="navbar-item" sec:authorize-url="/customer/viewself"
                                    th:href="@{/customer/viewself}">
                                    [[#{menu.customer.viewself}]]
                                </a> -->
                                <!--
                                Pour que sec:authorize-url fonctionne, il faut que le filtre SecurityFilterChain
                                bloquer l'URL.
                                
                                Suite aux limitations de SpringSecurity 6, c'est possible mais de manière pénible...
                                
                                -->

                                <a class="navbar-item" sec:authorize-url="/customer/create"
                                    th:href="@{/office/customer/create}">
                                    [[#{menu.customer.create}]]
                                </a>
                                
                                <!--
                                <a class="navbar-item" 
                                    sec:authorize="not hasRole('CUST')"
                                    th:href="@{/customer/create}">
                                    [[#{menu.customer.create}]]
                                </a>
                                -->
                            </div>
                        </div>
						<div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" aria-haspopup="true" aria-controls="#dropdown-menu">
                                [[#{menu.avocat.dropdown}]]
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" sec:authorize-url="/office/avocat/list"
                                    th:href="@{/office/avocat/list}">
                                    [[#{menu.avocat.list}]]
                                </a>
                                <a class="navbar-item" sec:authorize-url="/office/avocat/search"
                                    th:href="@{/office/avocat/search}">
                                    [[#{menu.avocat.view}]]
                                </a>
  

                                <a class="navbar-item" sec:authorize-url="/office/avocat/create"
                                    th:href="@{/office/avocat/create}">
                                    [[#{menu.avocat.create}]]
                                </a>
                                

                            </div>
                        </div>
						<div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" aria-haspopup="true" aria-controls="#dropdown-menu">
                                [[#{menu.juridiction.dropdown}]]
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" sec:authorize-url="/office/juridiction/list"
                                    th:href="@{/office/juridiction/list}">
                                    [[#{menu.juridiction.list}]]
                                </a>
                                <a class="navbar-item" sec:authorize-url="/office/juridiction/search"
                                    th:href="@{/office/juridiction/search}">
                                    [[#{menu.juridiction.view}]]
                                </a>
  

                                <a class="navbar-item" sec:authorize-url="/office/juridiction/create"
                                    th:href="@{/office/juridiction/create}">
                                    [[#{menu.juridiction.create}]]
                                </a>
                                

                            </div>
                        </div>

                        <div class="navbar-item">

                            <div sec:authorize="not isAuthenticated()">
                                <form th:action="@{/login}" method="POST">
                                    Login <input type="text" id="username" name="username" />
                                    Mot de passe <input type="password" id="password" name="password" />
                                    <button type="submit" class="btn">Log in</button>
                                </form>
                            </div>

                            <div sec:authorize="isAuthenticated()">
                                [[#{user.username}]] : <span sec:authentication="name"></span>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit">logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <article class="message is-success" th:if="${successMessage != null}">
            <div class="message-header">
                <p>Success</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body" th:text="${successMessage}">
                Gallia est omnis divisa in partes tres,
                quarum unam incolunt Belgae, aliam Aquitani, tertiam qui ipsorum lingua Celtae,
                nostra Galli appellantur.
            </div>
        </article>
    </th:block>

    <th:block th:fragment="footer-and-js">
        <footer th:fragment="footer" class="footer">
            <div class="block footer-text">
                [[#{footer.demo}]]
            </div>
            <div id="logos" class="block center-text">
                
            </div>
        </footer>
        <th:block>
            <script th:src="@{/js/script.js}"></script>
        </th:block>
    </th:block>
</body>

</html>