<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="layout :: common-head">
		<title>Gestion Affaires Juridiques</title>
	</th:block>
</head>

<body>
	<header th:replace="layout :: header-and-nav">
		<h1>GAJ</h1>
	</header>

	<div class="container">
		<h2 th:text="#{client.updateself.title}"></h2>

		<form action='#' th:action="@{|/office/customer/update/${updateForm.idClient}|}" method='post' class="box" th:object="${updateForm}">
			<div class="message is-danger" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></div>
		<div class="field">
				<label class="label">[[#{client.idClient}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{idClient}" >
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('idClient')}" th:errors="*{idClient}">
				</div>
			</div>


		<div class="field">
				<label class="label">[[#{client.civilite}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{civilite}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('civilite')}" th:errors="*{civilite}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.nom}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{nom}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.prenom}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{prenom}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">
				</div>
			</div>


			<div class="field">
				<label class="label">[[#{client.dateDeNaissance}]]</label>
				<div class="control">
					<input class="input" type="text" value="*{dateDeNaissance}" th:field="*{dateDeNaissance}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('dateDeNaissance')}" th:errors="*{dateDeNaissance}">
				</div>
			</div>


			<div class="field">
				<label class="label">[[#{client.departementDeNaissance}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{departementDeNaissance}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('departementDeNaissance')}" th:errors="*{departementDeNaissance}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.paysDeNaissance}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{paysDeNaissance}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('paysDeNaissance')}" th:errors="*{paysDeNaissance}">
				</div>
			</div>
			
			<div class="field">
				<label class="label">[[#{client.nationalite}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{nationalite}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('nationalite')}" th:errors="*{nationalite}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.email}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{email}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.telephoneFixe}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{telephoneFixe}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('telephoneFixe')}" th:errors="*{telephoneFixe}">
				</div>
			</div>
			
			<div class="field">
				<label class="label">[[#{client.telephoneMobile}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{telephoneMobile}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('telephoneMobile')}" th:errors="*{telephoneMobile}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.adresse}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{adresse}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.adresseComplement}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{adresseComplement}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('adresseComplement')}" th:errors="*{adresseComplement}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.ville}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{ville}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{client.codePostal}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{codePostal}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}">
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Submit</button>
				</div>
			</div>
		</form>

	</div>
	<th:block th:replace="layout :: footer-and-js">

	</th:block>
</body>

</html>