<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="layout :: common-head">
		<title>Gestion Affaires Juridiques</title>
	</th:block>
</head>

<body>
	<header th:replace="layout :: header-and-nav">
		<h1>GAJ</h1>
	</header>

	<div class="container">
		<h2 th:text="#{juridiction.update.title}"></h2>

		<form action='#' th:action="@{|/office/juridiction/update/${updateForm.idJuridiction}|}" method='post' class="box" th:object="${updateForm}">
			<div class="message is-danger" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></div>
		<div class="field">
				<label class="label">[[#{juridiction.idJuridiction}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{idJuridiction}" >
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('idJuridiction')}" th:errors="*{idJuridiction}">
				</div>
			</div>

		<div class="field">
				<label class="label">[[#{juridiction.nom}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{nom}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">
				</div>
			</div>


			<div class="field">
				<label class="label">[[#{juridiction.email}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{email}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{juridiction.telephone}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{telephone}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">
				</div>
			</div>
			
			<div class="field">
				<label class="label">[[#{juridiction.fax}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{fax}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{juridiction.adresse}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{adresse}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{juridiction.adresseComplement}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{adresseComplement}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('adresseComplement')}" th:errors="*{adresseComplement}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{juridiction.ville}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{ville}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}">
				</div>
			</div>

			<div class="field">
				<label class="label">[[#{juridiction.codePostal}]]</label>
				<div class="control">
					<input class="input" type="text" th:field="*{codePostal}">
				</div>
				<div class="message is-danger" th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}">
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Submit</button>
				</div>
			</div>
		</form>

	</div>
	<th:block th:replace="layout :: footer-and-js">

	</th:block>
</body>

</html>